@media only screen and (max-width: 1600px) {

    body{
        height: auto;
    }
    #shape, .shape{
        display: block;
    }
    .rombus{
        bottom: 6%;
        right: 20%;
        height: 70px;
        width: 70px;
        border: 5px solid #ee4949;
    }
    .circle2{
        top: -30%;
       border: 25px solid  #472a7b;
    }
    .circle-line{
        right: 30%;
        top: 25%;
        height: 70px;
        width: 70px;
    }
    .line{
        width: 3px;
    }
    #nav-btn{
        right: 50px;
    }
    #introtxt{
    font-size: 40px;
    margin: 0;
    padding: auto;

    width: 100%;
    
    }
    #intro{
        padding: 0;
        padding-top: 100px;
        height: auto;
        width: auto;
        margin-top: 50px;
        
    }
    #introtxt h3{
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    #introtxt h1{
        font-size: 60px;
        padding: 0;
        margin: 0;
    }
    #introimg{
        height: 350px;
        width: 350px;
       right: 30%;
       top: -30%;
        padding-top: 28px;
    }
    #introimg img{

        height: 300px;
        width: 300px;
    }
    #cv, #skill_btn{
        width: 150px;
        font-size: 18px;
        padding-top: 10px;
    }
    #skill{
        top: 100px;
        height: auto;
        width: auto;
    }
    #navbar{
        height: auto;
        width: 100%;
    }
    #about{
        height: 100%;
    }
    #ghy{
        margin-bottom: 50px;
        left: 2rem;
       
    }
    #abtimg{
        height: 350px;
        width: 350px;
    }
    #abtimg img{
        height: 320px;
        width: 320px;
    }
    .hoverlay h4{
        font-size: 22px;
    }
    .hoverlay p{
        display: block;
    }
    .hoverlay .btn{
        width: 100px;
    }
    #show-project{
        height: auto;
    }
    #show-project img {
        width: 500px;
    }
    #spbackbtn{
        z-index: 130;
    }
    #ambtn0, #ambtn1{
        margin-top: 40px;
    }
    #contact{
        left: 30%;
        top: 30%;
    }
    
}
@media only screen and (max-width: 993px) {

    body{
        height: auto;
    }
    #shape, .shape{
        display: none;
    }
    #nav-btn{
        right: 50px;
    }
    #introtxt{
    font-size: 40px;
    margin: 0;
    padding: auto;
    left: 10%;
    width: 100%;
    }
    #intro{
        padding: 0;
        padding-top: 100px;
        height: auto;
        width: auto;
        margin-top: 50px;
        
    }
    #introtxt h3{
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    #introtxt h1{
        font-size: 60px;
        padding: 0;
        margin: 0;
    }
    #introimg{
        height: 350px;
        width: 350px;
       right: 60px;
       top: -80px;
        padding-top: 28px;
    }
    #introimg img{

        height: 300px;
        width: 300px;
    }
    #cv, #skill_btn{
        width: 150px;
        font-size: 18px;
        padding-top: 10px;
    }
    #skill{
        top: 100px;
        height: auto;
        width: auto;
    }
    #navbar{
        height: auto;
        width: 100%;
    }
    #about{
        height: 100%;
    }
    #abtimg{
        display: none;
    }
    #ghy{
        position: fixed;
        left: 0;
    }
    #mb{
      margin-top: 40%;
    }
    .hoverlay h4{
        font-size: 22px;
    }
    
    .hoverlay .btn{
        width: 80px;
    }
    #show-project{
        height: auto;
    }
    #show-project img {
        width: 500px;
    }
    #spbackbtn{
        z-index: 130;
    }
    #ambtn0, #ambtn1{
        margin-top: 40px;
    }
    #contact{
        left: 25%;
    }
    
}
@media only screen and (max-width: 769px) {

    body{
        height: auto;
    }
    #shape, .shape{
        display: none;
    }
    #nav-btn{
        right: 50px;
    }
    #introtxt{
    font-size: 40px;
    margin: 0;
    padding: auto;
    left: 25%;
    text-align: center;
    width: 100%;
    z-index: 2;
    }
    #intro{
        padding: 10px;
        height: auto;
        width: auto;
        margin-top: 50px;
        
    }
    #introtxt h3{
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    #introtxt h1{
        font-size: 60px;
        padding: 0;
        margin: 0;
    }
    #introimg{
        top: 85%;
        right:50%;
        padding-top: 28px;
    }
    #introimg img{
        
    }
    #skill{
        height: auto;
        width: auto;
        z-index: 3;
    }
    #navbar{
        height: auto;
        width: 100%;
    }
    #about{
        height: 100%;
    }
    #abtimg{
        display: none;
    }
    .ghy{
        font-size: 30px;
        margin: 0;
    }
    #mb{
        margin-top: 65%;
      }
    #show-project{
        height: auto;
    }
    #show-project img {
        width: 500px;
    }
    #spbackbtn{
        z-index: 130;
    }
    #ambtn0, #ambtn1{
        margin-top: 40px;
    }
    #contact{
        left: 20%;
    }
    .hoverlay p{
        display: none;
    }
    #backbtn{
        z-index: 10;
    }
    
}
@media only screen and (max-width: 577px) {

    body{
        height: auto;
    }
    #shape, .shape{
        display: none;
    }
    #nav-btn{
        right: -10%;
    }
    #introtxt{
    left: 0%;
    width: 100%;
    }
    #intro{
        padding-left: 10%;
    }
    #introimg{
    right:15%;
    }
    #skill{
        height: auto;
        
    }
    #navbar{
        height: auto;
        width: auto;
    }
    #about{
        height: 100%;
        width: 100%;
    }
    #abtimg{
        display: none;
    }
    #mb{
        margin-top: 80%;
      }
    #show-project{
        height: auto;
    }
    #show-project img {
        width: 500px;
    }
    #spbackbtn{
        z-index: 130;
    }
    #backbtn{
        top: 5%;
        left: 5%;
    }
    #ambtn0, #ambtn1{
        margin-top: 40px;
    }
    #contact{
        top: 20%;
        left: 5%;
    }
    .hoverlay p{
        display: none;
    }
    #backbtn{
        z-index: 10;
    }
    
}
@media only screen and (max-width: 420px) {
    body, #intro header, #intro, #navbar, #about, #contact, #skill, #project, #show-project  {
        height: auto;
        width: 100vw;
   
    }
    #logo a img{
        height: 50px;
        width: 100px;
        margin-top: 10px;
    }
    #shape{
        display: none;
    }
    #nav-btn{
        top: 0px;
        right:0px;
    }
    #nav-btn a,#nav-bt a, #backbtn, #spbackbtn{
        font-size: 40px;
    }
    #spbackbtn, #backbtn{
        left: 20px;
        top: 20px;
    }
    #info_col h1{
        font-size: 40px;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a:hover{
        font-size: 40px;
    }
    #navbar{
        padding:30vh 0;
    }
    #ghy p{
        font-size: 15px;
        background-color: #252525;
    }
    #mb_btn{
        width: 140px;
        font-size: 14px;
        padding-top: 10px;
    }
    #mb{
        margin-top: 145%;
    }
    #ambtn0, #ambtn1{
        width: 100px;
        font-size: 15px;
        margin: 40px 5px;
    }
    #box{
        text-align: left;
    }
    #box h4{
        font-size: 18px;
    }
    #introtxt{
    font-size: 20px;
    margin: 0;
    padding: auto;
    left: 0%;
    text-align: center;
    width: 100%;
    }
    #intro{
        padding: 10px;  
    }
    #introtxt h3{
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    #introtxt h1{
        font-size: 40px;
        padding: 0;
        margin: 0;
    }
    #introimg{
    height: 250px;
    width: 250px;
        right: 5%;
        padding: 16px;
    }
    #introimg img{
        height: 220px;
        width: 220px;
          
        }
    #skill{
        height: auto;
        width: auto;
    }
    #cv, #skill_btn{
        width: 125px;
        font-size: 14px;
        padding-top: 10px;
        margin-top: 20px;
    }
    #cv:hover, #skill_btn:hover{
        transform: scale(1.1);
    }
    #show-project p{
        font-size: 15px;
        margin: 0px;
        text-align: justify;
      }
      .innercon{
          margin-top: 0;
      }
      #show-project p{
        font-size: 15px;
        margin: 0;
        text-align: justify;
      }
      #show-project img {
        width: 95vw;
      }
      #contact{
          top: 20%;
          height: auto;
          width: 90vw;
      }
      #contact h4{
          font-size: 25px;
      }
      #cc-btn{
          margin-left: 75%;
      }
      .cp{
          font-size: 15px;
          text-align: justify;
      }
      #contact #si{
          font-size: 15px;
          margin-bottom: 10px;
      }
      #social_icon a {
          font-size: 30px;
          padding:  20px 15px;
      }
      #social_icon{
          margin-top: 10px;
      }
      #skill
      {
          height: auto;
          width: 90vw;
      }
      .progress{
        width: 60px;
        height: 60px;
        line-height: 60px;
      }
      .progress:after,.progress .progress-bar{
        border: 5px solid #f2f5f5;
      }
      .progress .progress-value,.bars h6{
        font-size: 15px;
      }
      .bars{
        margin:15px 0;
      }
   
    }
